
    <div class="col col-lg-2">
        <img src="/imgs/icon5.jpg" class="img-w1502">
    </div>
    <h2>Página de Login</h2>
    <form action="/verifica" method="post">
        <div class="mb-3">
            <label class="form-label">Nome de usuário: </label>
            <input type="text" class="form-control box" name="username" >
        </div>

        <div class="mb-3">
            <label class="form-label">Senha: </label>
            <input type="password" class="form-control box" name="password">
        </div>
        <button type="submit" class="btn btn-outline-primary">Enviar</button>
    </form>