
    <div class="col col-lg-2">
        <img src="/imgs/lupa.png" class="img-w1502">
    </div class="verification">
    <h2>Página de Verificação</h2> 
        <form action="/verifica" method="post">
            <h6>Usuario:</h6>
                <button type="post" class="btn btn-primary box">
                    <%= nome %>
                </button>
            <br>
            <h6>Senha:</h6> 
                <button type="post" class="btn btn-primary box">
                    <%= senha %>
                </button>
            <br>
            <h6>Senha md5:</h6>
                <button type="post" class="btn btn-primary box">
                    <%= senhaMD5 %>
                </button>
            <br>
            <br>
            <a href="/"> <span type="button" class="btn btn-outline-primary">Retornar</span> </a> 
        </form>
    </div>