body {
    background-color: rgb(70, 42, 29);
}
.img-w150 {
    width: 110px;
    border-radius: 50%;
    margin-left: 205px;
}
.img-w1502 {
    width: 130px;
    border-radius: 50%;
    margin-left: 205px;
}
#container {
    background-color: rgb(245, 243, 239);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    padding: 30px 30px;
    text-align: center;
    border-radius: 20px;
}
#corpo {
    background-color: rgb(245, 243, 239);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    padding: 30px 30px;
    text-align: center;
    border-radius: 20px;
}
#result{
    width:300px;
	/* definimos a altura do box */
	    height:35px;
	/* definimos a cor de fundo do box */
	    background-color: rgb(241,223,208);
	/* definimos o quão arredondado irá ficar nosso box */
	    border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
}
.box{
	/*definimos a largura do box*/
	    width:300px;
	/* definimos a altura do box */
	    height:35px;
	/* definimos a cor de fundo do box */
	    background-color: rgb(241,223,208);
	/* definimos o quão arredondado irá ficar nosso box */
	    border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
}
.btn-primary {
    color: #212529;
    background-color: #dfb795;
    border-color: #dfb795
}

.btn-primary:hover {
    color: #212529;
    background-color: #dfb795;
    border-color: #dfb795
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem #46291d
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #dfb795;
    border-color: #46291d
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #46291d
}

.btn-outline-primary {
    border-radius: 20px;
    color: #dfb795;
    background-color: transparent;
    background-image: none;
    border-color: #dfb795
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #46291d;
    border-color: #46291d
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem #dfb795
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #dfb795;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #46291d;
    border-color: #46291d
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #dfb795
}